*{
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0;
}

.App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-size: cover;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/10/Empire_State_Building_%28aerial_view%29.jpg');
    background-position: fixed;
}

main {
    background-image: url("/images/empireStateBuilding.jpg");
    background-position: center;
    flex: 1;
}

#infopage-infoHeader{
    margin: 5% 0%;
    color: rgb(117, 81, 81);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    text-align: center;
}

.infopage-infoSemiHeader{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    font-style: oblique;
}

.infopage-infoText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
}

.infopage-infoTextBottom{
    padding-bottom: 10%;
}

.header-navbarTitle{
    color: rgb(117, 81, 81)!important;
    font-size: 2em!important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
}